In [6]:
import os
os.environ['USE_PYGEOS'] = '0'
import geopandas
import pygris
import pandas as pd


def get_block_group_geometry(state_fips, county_fips, year = 2019):
    # Get the default TIGER/Line file for counties in Michigan
    county_tiger = pygris.block_groups(state = state_fips, county = county_fips, cache = True, year = 2019)

    return county_tiger

In [7]:

state_fips = "06" # California
county_fips = "075" # San Francisco County
df = get_block_group_geometry(state_fips, county_fips)

Using the default year of 2021

In [8]:
df.head()

,STATEFP,COUNTYFP,TRACTCE,BLKGRPCE,GEOID,NAMELSAD,MTFCC,FUNCSTAT,ALAND,AWATER,INTPTLAT,INTPTLON,geometry
949,06,075,021000,4,060750210004,Block Group 4,G5030,S,67423,0,+37.7490229,-122.4220428,"POLYGON ((-122.42478 37.74864, -122.42368 37.7..."
952,06,075,020900,3,060750209003,Block Group 3,G5030,S,52010,0,+37.7493813,-122.4192817,"POLYGON ((-122.42051 37.75051, -122.41993 37.7..."
953,06,075,021000,1,060750210001,Block Group 1,G5030,S,69591,0,+37.7543688,-122.4231027,"POLYGON ((-122.42538 37.75503, -122.42482 37.7..."
954,06,075,021000,3,060750210003,Block Group 3,G5030,S,105259,0,+37.7506130,-122.4231169,"POLYGON ((-122.42510 37.75185, -122.42452 37.7..."
955,06,075,021100,1,060750211001,Block Group 1,G5030,S,144141,0,+37.7548981,-122.4276735,"POLYGON ((-122.43012 37.75636, -122.42789 37.7..."